* {
	background-color: #8fc880;
	color: #4d4d4d;
}

h1 {
	color: black;
	border-style: solid dotted solid dotted;
	text-align: center;
	font-size: 36px;
	text-shadow: 2px 2px #fff,
		-2px -2px #fff,
		2px -2px #fff,
		-2px 2px #fff;
	bottom: 0px;
	opacity: 0;
	position: relative;
}

.fade-in {
	-webkit-transition: opacity 4s, bottom: 3s ease;
	transition: opacity 4s, bottom 3s ease;
	bottom: 0px;
	color: #000;
	opacity: 2;
}

/*
em {
	bottom: 0px;
	opacity: 0;
	position: relative;
}
*/

/* Add hover states to Home and About buttons */
a {
	background: #ccffff;
	color: #000;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
}

a:hover {
	padding: 10px 80px;
	background: #ff0000;
}

a.transition {
	/* the vendor prefix "-webkit" is required for Safari and Chrome support */
	-webkit-transition: padding .5s,
		background-color 1.5s;
		transition: padding .5s, background-color 1.5s;
}

/*
a:hover,
a:focus {
	color: #ff0000;
}

a:visited {
	color: #00ff00;
}

a:visited:hover,
a:visited:focus {
	color: #0088ff;
}
*/


/* Add radii and box shadows to the button */
.transition,
.no-transition {
	border-radius: 15px;
	box-shadow: 5px 5px 3px #121212;
}

p {
	color: white;
	text-shadow: 2px 4px 2px #800080;
	text-align: center;
	font-size: 24px;
}

.greeting {


}







